body{
background: url("https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500")
no-repeat center center fixed;
background-size: cover;
font-family: sans-serif;;
margin:0;
padding:0;

}
.container{
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50% ,-50%);
  padding: 2rem;
  background: rgba(0,0,0,.8);
  width: 500px;
  box-sizing: border-box;
  box-shadow: 0 16px 26px rgba(0,0,0,.5;);
  border-radius: 12px;
  text-align: center;

}

.container h2{
  color:#fff;
  font-family: cursive;
  font-size: 2rem;
  font-weight: 100;

}
hr{
  width:80%;
}
.fb {
  padding:0.5rem 2rem;
  color:#fff;
  background-color: #4267B2;
  border:none;
  border-radius: 5px;
}
a{
  text-decoration: none;
}
input{
  padding:0.8rem;
  width: 70%;
  border-radius:20px;
  border: none;

  background-color: white;
}

.btn{
 padding : 0.6rem;
 background-color: #0072ff;
 border:none;
 font-size: 1rem;
 width:20%;
 border-radius: 5px;
 color: #fff;
}
